body{
font-family: PT sans-serif;

}

header{
    background-image: url(./img/renata.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    padding-bottom: 10rem;
 
}
h1{
    text-align: center;
    
}
h2{
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
}

.big-info{
    background-color: teal;
}

#next{
    background-color: sienna;
    height: 350;
    text-align:center;
    font-size: medium;
    padding-top: 50px;
}

footer{
    background-color: black;
    padding: 50px;
    text-align: center;
}
footer i{
    color: white;
    margin: 2%;
}
footer h3{
    color: white;
}